
@{
    ViewBag.Title = "My Trips";
    Layout = "_Layout";
}

<div class="row" ng-app="app-trips">
  <div ng-view></div>
</div>

@section Scripts{
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAWWPY0_uPTF8vj5_pL6c9RZAjSZhwW22Q"></script>
    <environment include="Development">
        <!-- pack as vendor bundle -->
        <script src="~/lib/underscore/underscore-min.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/gmaps/gmaps.min.js"></script>
        <script src="~/lib/travelmap/travelmap.min.js"></script>
        
        <!-- pack as app bundle -->
        <script src="~/js/app-trips.js"></script>
        <script src="~/js/trips.controller.js"></script>
        <script src="~/js/tripEditor.controller.js"></script>    
    </environment>
    <environment exclude="Development">
        <script src="~/js/vendor.min.js" asp-append-version="true"></script>
        <script src="~/js/app.min.js" asp-append-version="true"></script>
    </environment>
}
