
@{
    ViewBag.Title = "Welcome to World Trip Logger";
    Layout = "_Layout";
}
<div class="row">
  <div class="col-md-12">
    <h1>Welcome to the World</h1>
    <p>This app will allow you plan for trips around the world</p>
    <a asp-area="" asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View My trips</a>
  </div>
</div>
